@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body Properties with Background body image */
/* body{
    background-image: url("maze\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:black;
} */
#myVideo {
    position: fixed;
    right: 0;
    /* bottom: 0; */
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
/* Game Over Image*/
/* .gameover{
    padding: 40px 0px 0px 370px;
} */

/* score image */
/* .score{
    display: flex;
    padding-top: 220px;
    justify-content: center;
} */

/* game Result */

/* #result{
    font-size: 100px;
    color: aqua;
} */

/* Play Again and Exit buitton Styling */
/* .play-exit-btn{
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
} */

/* button  Hover Effect*/

#play-btn:hover,#exit-btn:hover{
    background-color: rgb(31, 28, 28);
    border: 2px dashed rgb(255, 250, 250);
}

/* button text Styling */
#btn-text{
    color: #000;
    height: 24.512999999999998px;
    font-family: LED Dot-Matrix;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* play button and exit button styling */
#play-btn,#exit-btn{
    /* background: white;
    width: 178px;
    height: 60px;
    border-radius: 57px;
    cursor: pointer; */
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}
.exit-btn{
    padding: 120px 0 0 410px;
}

/* Won And Lost Image */
/* #won{
    position: absolute;
    padding: 10px 0px 0px 305px;
    display: none;
}
#Lost{
    position: absolute;
    padding: 10px 0px 0px 305px;
    display: none;
} */
#won{
    position: relative;
    font-size: 6rem;
    color: #222;
    display: none;
  
  }
  #won::before
  {
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 20px #CAF61C) drop-shadow(0 0 50px #CAF61C);
    /* display: none; */
    }

    @keyframes animate {
      0%,10%,100%{
        width: 0;
      }
      70%,90%{
        width: 100%;
      }
    }

    #Lost{
        position: relative;
        font-size: 6rem;
        color: #222;
        display: none;
      
      }
      #Lost::before
      {
        content: attr(data-text);
        position: absolute;
        color: #fff;
        width: 350px;
        overflow: hidden;
        white-space: nowrap;
        border-right: 4px solid #fff;
        animation: animate 8s linear infinite;
        filter: drop-shadow(0 0 20px #CAF61C) drop-shadow(0 0 50px #CAF61C);
        }
    
        @keyframes animate {
          0%,10%,100%{
            width: 0;
          }
          70%,90%{
            width: 100%;
          }
        }

/* Mobile Responsive */
@media(max-width: 500px){
    #myVideo {
        position: fixed;
        right: 0;
        /* bottom: 0; */
        min-width: auto;
        min-height: auto;
    }
    body{
        width: 101vw;
        height: 100vh;
    }
    /* .gameover{
        padding: 10px;
    } */
    #Lost,#won{
        font-size: 18px;

    }
    #Score{
        font-size: 1rem;
    }
    #play-btn,#exit-btn{
        width: 105px;
        height: 35px;
        font-size: 0.8rem;
    }
    @keyframes animate {
        0%,10%,100%{
          width: 0;
        }
        70%,90%{
          width: 90%;
        }
      }
      #video{
        height: 700px;
      }
      #myVideo{
        position: fixed;
        max-height: 322px;
        min-width: 100%;
    }
}
