*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body Properties */
body{
    background-color: black;
    background-image: url("maze.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/* Maze Box Game Text and Welcome Gamers Text Image  */

.textimg{
    padding-top: 7%;
}
.bodytext{
    padding: 3% 0 0 23%;
}    

/* hover effect */
#level-text:hover{
    background-color:rgb(194, 194, 194);
}
#level:hover{
    background-color:rgb(194, 194, 194);
}

/* Btn Styling */
#start-btn{
    background: white;
    width: 32%;
    height: 56px;
    border-radius: 57px;
    cursor: pointer;
}
/* Button hover effect */
#start-btn:hover{
    background-color: antiquewhite;
    border: 2px dashed black;
}
.btn-container{
    padding: 10.5% 0 0 35%;
}

/* button text Styling */

#start-btntext{
    color: #000;
    height: 24.512999999999998px;
    font-family: LED Dot-Matrix;
    font-size: 176%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.introContainer{
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    /* padding: 20px 20px 20px 20px; */
    align-items: center;
    position: fixed;
    top: 1%;
    right: 0%;
    
}

/* infomation (i) Image  */
#i{
    background-color: white;
    width: 46px;
    height: 44px;
    border-radius: 30px;
    cursor: pointer;

}

/* instruction image styling */
#instruction{
    color: red;
    font-size: 40px;
    text-decoration: underline;
    cursor: pointer;
}

/* Mobile Responsive */
@media(max-width: 600px) {
body{
    background-position-y: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#i{
    width: 18px;
    height: 20px;
}
.introContainer{
    flex-direction: row;
    justify-content:flex-end;
    padding-top: 10px;
}
#instruction{
    font-size: 15px;
    
}
.textimg{
    padding-top: 15%;
    display: flex;
    justify-content: center;
}
#bgimg{
    width: 72%;
}
.bodytext{
    padding: 10% 0 0 0;
    display: flex;
    justify-content: center;
}
#bgimg2{
    width: 40%;
}
#start-btn{
    width: 34%;
    height: 30px;
    border-radius: 10px;
}
#start-btntext{
    height: 8.513px;
    font-size: 70%;
}
.btn-container{
    padding: 12% 2% 2% 41%;
}
}