*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body Properties with Background body image */
body{
    background-image: url("maze\ \(1\).png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: cover;
    background-color:black;
}

/* Game Over Image*/
.gameover{
    padding: 40px 0px 0px 370px;
}

/* score image */
.score{
    display: flex;
    padding-top: 220px;
    justify-content: center;
}

/* game Result */

#result{
    font-size: 100px;
    color: aqua;
}

/* Play Again and Exit buitton Styling */
.btn{
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
}

/* button  Hover Effect*/

#btn1:hover,#btn2:hover{
    background-color: antiquewhite;
    border: 2px dashed black;
}

/* button text Styling */
#btn-text{
    color: #000;
    height: 24.512999999999998px;
    font-family: LED Dot-Matrix;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#btn1,#btn2{
    background: white;
    width: 178px;
    height: 60px;
    border-radius: 57px;
    cursor: pointer;
}
.btn2{
    padding: 120px 0 0 410px;
}