@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* video Property */
#myVideo {
    position: fixed;
    right: 0;
    min-width: 100%;
    min-height: 100%;
}
/* all text and button container */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* button  Hover Effect*/

#play-btn:hover,#exit-btn:hover{
    background-color: rgb(31, 28, 28);
    border: 2px dashed rgb(255, 250, 250);
}

/* Button */
#play-btn,#exit-btn{/
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}
.exit-btn{
    padding: 120px 0 0 410px;
}
#won{
    position: relative;
    font-size: 6rem;
    color: #222;
    display: none;
}

/* Text effects on buttons  */
#won::before{
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 20px #CAF61C) drop-shadow(0 0 50px #CAF61C);
}

    @keyframes animate {
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
    }

    #Lost{
        position: relative;
        font-size: 6rem;
        color: #222;
        display: none;
    }
    #Lost::before
    {
        content: attr(data-text);
        position: absolute;
        color: #fff;
        width: 350px;
        overflow: hidden;
        white-space: nowrap;
        border-right: 4px solid #fff;
        animation: animate 8s linear infinite;
        filter: drop-shadow(0 0 20px #CAF61C) drop-shadow(0 0 50px #CAF61C);
        }
    
        @keyframes animate {
        0%,10%,100%{
            width: 0;
        }
        70%,90%{
            width: 100%;
        }
        }

/* Mobile Responsive */

@media(max-width: 500px){
    #myVideo {
        position: fixed;
        right: 0;
        min-width: auto;
        min-height: auto;
    }
    body{
        width: 101vw;
        height: 100vh;
        background-color: black;
    }
    #Lost,#won{
        font-size: 18px;

    }
    #Score{
        font-size: 1rem;
    }
    #play-btn,#exit-btn{
        width: 105px;
        height: 35px;
        font-size: 0.8rem;
    }
    @keyframes animate {
        0%,10%,100%{
        width: 0;
        }
        70%,90%{
        width: 90%;
        }
    }
    #video{
        height: 700px;
    }
    #myVideo{
        position: fixed;
        max-height: 445px;
        min-width: 100%;
        bottom: 33%;
        left: -45%;
    }
}
